@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ffffff;
}

@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); } /* Scrolls half the width since we will duplicate the list */
  }
  .animate-marquee {
    animation: marquee 30s linear infinite;
    display: flex;
    width: max-content;
  }
  .animate-marquee:hover {
    animation-play-state: paused;
  }

  /* Forces the date picker calendar icon to invert in dark mode on WebKit browsers */
.color-scheme-dark {
    color-scheme: dark;
  }